@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/*--------------------------------------------------General Styles*/
body {
    background-color: #344966;
    position: relative;
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
}

.content-wrap {
    padding-bottom: 2.5rem;
}



/*--------------------------------------------------Home Page body styles*/

.background-image {
    background-image: url("images/landscape-billy.jpg");
    background-color: #344966;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/*--------------------------------------------------Header and Footer Styles*/

.navbar {
    background-color: #4C513F;
    font-family: 'Roboto Mono', monospace;
}

footer {
    background-color: #4C513F;
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    width: 100%;

}

footer > div > div > div > a > i {
    color: #fff;
    font-size: 2rem;
    margin-top: 5px;
}

/*--------------------------------------------------Jumbotron Styles*/

div > .jumbotron {
    background-color: #DFB096;
    font-family: 'Roboto Mono', monospace;
}

div > .jumbotron > p > a {
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2em;
}

/*--------------------------------------------------About Page Styles*/

.about-container {
    margin-top: 100px;
}

