@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/*--------------------------------------------------General Styles*/
body {
    background-color: #344966;
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 70px;
}


/*--------------------------------------------------Home Page body styles*/

.background-image {
    background-image: url("images/landscape-billy.jpg");
    background-color: #344966;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/*--------------------------------------------------Header and Footer Styles*/

.navbar {
    background-color: #4C513F;
    font-family: 'Roboto Mono', monospace;
}

footer {
    background-color: #4C513F;
}

footer > div > div > div > a > i {
    color: #fff;
    font-size: 2rem;
    margin-top: 5px;
}



/*-------------------------------------------------- Home page Jumbotron 1 Styles*/

div > .jumbotron {
    background-color: #344966;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #fff;
}
div > .jumbotron > p > a {
    color: #fff;
    text-decoration: underline;
}

div > .jumbotron > p > a:hover {
    text-decoration: none;
}

div > .jumbotron > p > button > a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 1em;
}

.custom-button {
    background-color: #4C513F;
}

div > .jumbotron > p > button > a:hover {
    color: #000;
    text-decoration: underline;
    font-weight: 400;
    font-size: 1em;
}

.custom-button:hover {
    background-color: #fff;
}

/*-------------------------------------------------- Home page text box styles*/

.social-reminder {
    margin-bottom: 38px;
    text-align: center;
    background-color: #DFB096;
}

.social-reminder p {
    color: #000;
}


/*--------------------------------------------------Music Page Styles*/

#music-page {
    font-family: 'Montserrat', sans-serif;
}

#favourite-artists-title-bg {
    background-color: #4C513F;
    color: #fff;
}

#favourite-artists-bg {
    background-color: #4C513F;
}

.favourite-artists > li {
    list-style-type: none;
}

.favourite-artists > li > a {
    color: #fff;
}

.video-titles {
    color: #fff;
}

section .contact-link {
    font-size: 1.25rem;
    color: #fff;
}

section .contact-link a {
    color: #fff;
    text-decoration: underline;
}

section .contact-link a:hover {
    text-decoration: none;
}



/*--------------------------------------------------Gallery Styles*/
#gallery-background {
    background-color: #344966;
}

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.gallery-row .col {
    flex: 33.3%;
    width: auto;
    overflow: hidden;
    height: 100%;
}

.gallery-row .col img {
    width: 100%;
    height: 100%;
    margin-top: 2%;
    cursor: pointer;
    filter: grayscale(1) brightness(0.5);
    border-radius: 5px;
    transition: 0.3s linear;
}

.gallery-row .col img:hover {
    filter: grayscale(0) brightness(1);
}

@media screen and (max-width: 768px) {
    .gallery-row .col {
        flex: 50%;
    }
    .gallery-row .col img {
    filter: grayscale(0) brightness(1);
    }
}

@media screen and (max-width: 576px) {
    .gallery-row .col {
        flex: 100%;
    }
    .gallery-row .col img {
    filter: grayscale(0) brightness(1);
    }
}

.gallery-heading {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .gallery-heading {
        width: 90%;
    }
}

.gallery-heading p {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

/*--------------------------------------------------Contact Page Styles*/

#form-background {
    background-image: url(images/finished-blur.jpg);
    background-color: #344966;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
    
}

#form-heading {
    font-family: 'Montserrat', sans-serif; 
}

/*css to get the form to align in the center of the screen but align to left of parent div was taken from https://stackoverflow.com/questions/8097744/how-do-i-center-this-form-in-css/8097900. answer by user orfdorf*/

form {
    color: white;
    display: inline-block; 
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-family: 'Montserrat', sans-serif; 
}

.form-wrapper {
    display: block;
    text-align: center;
    width: 25%;
    font-size: 1rem;
    background-color: rgba(0,0,0,0.5);
    padding-top: 12px;
    padding-bottom: 12px;
}

@media screen and (max-width: 576px) {
    .form-wrapper {
        width: 95%;
    }
}

form #name,#email {
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    text-align: left;
    background-color: rgba(0,0,0,0)
}

textarea,
input[text] {
    border: 2px solid #fff;;
    border-bottom: 2px solid #fff;
    color: #fff;
    text-align: left;
    background-color: rgba(0,0,0,0)
}

::placeholder {
    color: #fff;
    opacity: 0.5;
    font-size: 0.8rem;
}

.textarea-container * {
    vertical-align: top;
}

.contact-heading {
    color: #fff;
    text-align: center;
}


input[type=submit] {
    border: 2px solid #fff;
    color: #000;
    background-color: #fff;
    padding: 2px 4px;
    font-size: larger;
}

.align-submit {
    text-align: center;
}

input[type=submit]:hover {
    border: 2px solid #fff;
    color: #fff;
    background-color: #000;
    padding: 2px 4px;
}


@media screen and (max-width: 768px) {
    .form-wrapper {
        width: 90%;
    }
}