@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,300;1,400&display=swap');

/*--------------------------------------------------General Styles*/
body {
    background-color: #344966;
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 70px;
}


/*--------------------------------------------------Home Page body styles*/

.background-image {
    background-image: url("images/landscape-billy.jpg");
    background-color: #344966;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/*--------------------------------------------------Header and Footer Styles*/

.navbar {
    background-color: #4C513F;
    font-family: 'Roboto Mono', monospace;
}

footer {
    background-color: #4C513F;
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    width: 100%;

}

footer > div > div > div > a > i {
    color: #fff;
    font-size: 2rem;
    margin-top: 5px;
}



/*-------------------------------------------------- Home page Jumbotron 1 Styles*/

div > .jumbotron {
    background-color: #DFB096;
    font-family: 'Roboto Mono', monospace;
}

div > .jumbotron > p > button > a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 1em;
}

.custom-button {
    background-color: #000;
}

div > .jumbotron > p > button > a:hover {
    color: #000;
    text-decoration: underline;
    font-weight: 400;
    font-size: 1em;
}

.custom-button:hover {
    background-color: #fff;
}

/*-------------------------------------------------- Home page text box styles*/

.social-reminder {
    margin-bottom: 40px;
    text-align: center;
    background-color: #DFB096;
}

.social-reminder p {
    color: #000;
}


/*--------------------------------------------------Music Page Styles*/

#favourite-artists-title-bg {
    background-color: #DFB096;
}

#favourite-artists-bg {
    background-color: #4C513F;
}

.favourite-artists > li {
    list-style-type: none;
}

.favourite-artists > li > a {
    color: #fff;
}

.video-titles {
    color: #fff;
}

section .contact-link {
    font-size: 1.25rem;
    color: #fff;
}

section .contact-link a {
    color: #fff;
    text-decoration: underline;
}



/*--------------------------------------------------Gallery Styles*/

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.gallery-row .col {
    flex: 33.3%;
    width: auto;
    overflow: hidden;
    height: 100%;
}

.gallery-row .col img {
    width: 100%;
    height: 100%;
    margin-top: 2%;
    cursor: pointer;
    filter: grayscale(1) brightness(0.5);
    border-radius: 5px;
    transition: 0.3s linear;
}

.gallery-row .col img:hover {
    filter: grayscale(0) brightness(1);
}

@media screen and (max-width: 768px) {
    .gallery-row .col {
        flex: 50%;
    }
    .gallery-row .col img {
    filter: grayscale(0) brightness(1);
    }
}

@media screen and (max-width: 576px) {
    .gallery-row .col {
        flex: 100%;
    }
    .gallery-row .col img {
    filter: grayscale(0) brightness(1);
    }
}

.gallery-heading {
    background-color: #DFB096;
}

.gallery-heading p {
    color: #000
}

/*--------------------------------------------------Contact Page Styles*/

#form-background {
    background-image: url(images/blurry-surfer.jpg);
    background-color: #344966;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


#form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

form #name,#email {
    border: none;
    border-bottom: 2px solid #000;
    color: #000;
    text-align: left;
    background-color: #DFB096
}

textarea,
input[text] {
    border: none;
    border-bottom: 2px solid #000;
    color: #000;
    text-align: left;
    background-color: #DFB096;
}

::placeholder {
    color: #000;
    opacity: 0.5;
    font-size: 0.8rem;
}

.textarea-container * {
    vertical-align: top;
}

.contact-heading {
    color: #fff;
}

.form-body {
    width: 35%;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #DFB096;
    font-size: 1.5rem;
}

input[type=submit] {
    border: 2px solid #000;
    color: #fff;
    background-color: #000;
    padding: 2px 4px;
    font-size: larger;
}

input[type=submit]:hover {
    border: 2px solid #000;
    color: #000;
    background-color: #fff;
    padding: 2px 4px;
}


@media screen and (max-width: 768px) {
    .form-body {
        width: 90%;

    }
}